body {
    background-color: #223843;
    margin-top: 100px;
    font-family: Trebuchet, Georgia, 'Times New Roman', Times, serif;
}

.card {
    background: #DBD3D8;
    color: #223843;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.card div {
    padding: 20px;
}

h1 {
    background: #D8B4A0;
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

ul {
    list-style: none
}

img {
    float: left;
    margin-right: 20px;
    max-height: 180px;
}